*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkred;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 25px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: magenta;
}